html,
body {
  padding: 0px;
  margin: 0px;
}

* {
    box-sizing: border-box;
}

.page__content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #66667f;
}

.page__send-message {
    display: flex;
    flex: 0 0 auto;
    height: 4rem;
}

.input-message,
.page__chat-window,
.message {
    margin: 0.7rem;
}

.input-message {
    width: 70%;
    padding: 1rem;
}

.send-btn {
    width: 30%;
    margin: 0.7rem;
    background-color: #7FC7FF;
}

.page__chat-window {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: auto;
}

.message {
    padding: 1rem;
    border-radius: 15px;
    min-height: 4rem;
    width: 51%;
    color: white;
    background-color: #8887ad;
}

.service-message {
    color: white;
    align-self: center;
    font-size: large;
}

.received-message {
    align-self: flex-start;
}

.sent-message {
    align-self: flex-end;
}